.logo {
    margin-left: 1rem;
    margin-top: .5rem;
    margin-bottom: 1rem;
    width: 9rem; 
    
  }
  
  nav ul {
  /*   border: 2px solid red; */
    list-style-type: none;
    display: flex;
  
  }
  
  nav li {
    margin: 1rem 1rem 1.5rem 0;
  }
  
  nav a {
    font-size: 20px;
    font-family: "lato", sans-serif;
    text-decoration: none;
    padding: .5rem;
    color: #ffffff;
    border-radius: 10px;
    
  }
  
  nav a:hover {
    background-color: #131D26;
    
  }
  
  a span {
    margin-right: 4px;
    
  }
  
  
  header {
    background-color: #082b59;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 10px solid #D98555;
    
  }
  
  
  body {
  /*   border: 2px solid red; */
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    height: auto;
  }
  
  @media (max-width: 950px) {
    header {
      display: flex;
      flex-direction: column;
      align-items: center;
    } 
    .sec .primaryimage {
      max-width: 100%;
      height: auto;

      }
     
  }
  
  @media (max-width: 650px) {
    header {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    nav ul {
      flex-direction: column;
    }
    .sec {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 70%;
      margin-left: auto;
      margin-right: auto;
    }
    .sec .primaryimage {
      max-width: 100%;
      height: auto;
    }
    .sec .text {
      margin-right: 0;
    }
    
  }
  
  h1 {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    margin-left: 2rem;
    margin-top: 2rem;
     
  }
  
  article {
    /* border: 2px solid red; */
    font-family: "lato", sans-serif;
    line-height: 2rem;
    width: auto; 
    background-image: url("../media/images/gulp-bottom-beans.jpg");
    background-repeat: repeat-x;
    background-position: bottom;
    padding-bottom: 300px;
  }
  
  h3 {
    font-family: "Poppins", sans-serif;
    
  }
    
  .sec {
    /* border: 2px dotted blue; */
    display: flex;
    margin-bottom: 3rem;
    height: auto;
    
  }
  
  .primaryimage {
    /* border: 2px solid red; */
    max-width: 30%;
    height: auto;
    border-radius: 10px;
    margin-right: 1rem;
    margin-left: 1rem;
    
  }
  
  
  footer {
  /*   border: 2px solid red; */
    background-color: #082B59;
    height: auto;
    
  }
  
  footer .p1{
  /*   border: 2px solid red;
    background-color: green; */
    color: #ffffff;
    font-family: "lato", sans-serif;
    margin-top: 0;
    font-size: 17px;
    text-align: center;
    line-height: 2rem;
   
  }
  
  .text {
    font-family: "lato", sans-serif;
    height: auto;
    width: auto;
    margin-right: 1rem;
  }

  .text h3 {
    font-family: "poppins", sans-serif;
  }

  footer .p2{
    color: #ffffff;
  /*   background-color: green; */
    font-family: "lato", sans-serif;
    font-size: 15px;
    text-align: center;
    line-height: 2.5rem;
    padding: .5rem 1rem 0 1rem;
   
  }
  
  footer .p1 span {
    margin-right: 4px;
  }
  
  .socialicons {
    display: flex;
    justify-content: center;
    font-size: 30px;
  
  }
  
  footer i {
    color: white;
    padding: .5rem;
    
  }
  
  footer a {
    margin: 0 10px 50px 10px;
    text-decoration: none;
    color: #ffffff;
    border-radius: 10px;
    
  }